[Unit]
Description=Slimserver
Requires=network.target sound.target
After=network.target sound.target

[Service]
Type=simple
Restart=always
User=squeezeboxserver
ExecStart=/usr/bin/perl /usr/bin/slimserver/slimserver.pl

[Install]
WantedBy=multi-user.target
