[Unit]
Description=PolyOS TOSLINK-IN
After=network-online.target

[Service]
Type=idle
User=root
ExecStart=/usr/sbin/polyos-tosin
Restart=always
RestartSec=1
StartLimitInterval=30
StartLimitBurst=20

[Install]
WantedBy=multi-user.target
